@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,700;1,600&family=Prompt:wght@700&family=Quicksand:wght@300&family=Rubik:wght@600&family=Spline+Sans:wght@400;500;700&display=swap');
.salut {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Bai Jamjuree';
    /* margin-left: 90px; */
  }
  
  .hh {
    margin-left: 30px;
    font-size: 22px;
    flex-wrap: wrap; 
    width: 120%;
  }
  
  .introtext {
    font-family: 'Bai Jamjuree';
  }
  
  .opticienPassionne {
    font-family: 'Bai Jamjuree';
    font-weight: bold;
  }
  .salut {
    content: "Salut";

  } 
  
  .flechScratchRow img {
    display: flex;
    width: 170px;
    transform: rotate(100deg);
  }
  
  /* .flechScratchRow {
  } */
.imageAbdo{
    width: 250px;
    height: 400px;
    object-fit: cover;
    margin-top:80px;
    /* margin-left:230px; */
    margin-right: 1.5rem;
   position: relative;
}

  .imageBorderUnder::before{
    content: '';
    position: absolute;
    border: 8px solid black;
    border-radius: 2%;
    height: 400px;
    width: 250px;
    margin-top: 140px;
  }

  .socialMedia{
    display: flex;
    flex-direction: column;
    
  }
  .instagramIcon,
  .facebookIcon,
  .WhatsappIcon {
    margin-bottom: 30px;
    font-size: 40px;
    color: black; /* Add spacing between the icons if desired */
  }
  @media (max-width:720px) {
    
    .introContent {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 95%;
      margin: 10px;
    } 
    .row{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .hh{
      width: 80%;
    }
    .salut{
      font-size: 30px;
      font-weight: bolder;
    }
    .imageBorderUnder{
      position: relative;
    }
    .flechScratchRow {
      position: absolute;
      top: 155%; /* Align at the bottom */
      left: 50%; /* Center horizontally */
      transform: translateX(-50%);
      transform: rotate(-90deg);
      width: 40px;height:47px;
      z-index: 1;
    }
    /* .curvedArrow{
      position: absolute;
      transform: rotate(90deg);
    } */
    .flechScratchRow .scratch{
      display: none;
    }
    .bodyNavBar{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .Abdeladim-ElOTHMANI{
      font-size: 20px;
    }
    .a{
      width: 30px;
      height: 30px;
    } 
    .navbar-nav{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 

  }
  @media (min-width:701px) and (max-width:1000px){
    .flechScratchRow .scratch{
      display: none;
    }
    .flechScratchRow .curvedArrow{
      display: none;
    }
    .row{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .bodyNavBar{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    /* .navbar-nav{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }  */
    

  }